body{
    background-image: url("backgroung pic/background.png");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
	}

.LobbyButton{
	margin: 0px auto; /* Let the button align to the middle */
	margin-top: 0px;
	width: 70px;
	height: 70px;
	font-family: 'SetoFont', 'Baloo Paaji', sans-serif;
	background-color: #FFFFFF;
	text-align: center;
	line-height: 70px;
	border-radius: 500px;
}

.LobbyButton a{
	display: block;
	width: 100%;
	height: 100%;
}

.LobbyButton:hover{
	background-color: #686C5C;
}

.slideshow{
	position: relative;
	width: 75%;
	height: 580px;
	background-color: transparent;
	margin: auto;
}

.slide{
	width: 100%;
	height: 100%;
	display: none;
}

.active-slide{
	display: block;
}

.SlideImage{
	width: 100%;
	height: 100%;
}

.Img1{
	background-image: url(Slideshow/1.jpg);
	background-size: cover;
	background-position: center center;
}

.Img2{
	background-image: url(Slideshow/2.jpg);
	background-size: cover;
	background-position: center center;
}

.Img3{
	background-image: url(Slideshow/3.jpg);
	background-size: cover;
	background-position: center center;
}

.Img4{
	background-image: url(Slideshow/4.jpg);
	background-size: cover;
	background-position: center center;
}

.Img5{
	background-image: url(Slideshow/5.jpg);
	background-size: cover;
	background-position: center center;
}

.SlideNav{
	height: 50px;
	width: 100%;
	text-align: center;
}

span {
	position: relative;
	display: inline-block;		/* make all the links in the same line */
	margin: 5px;
}

.arrow-prev{
	background-image: url(Nav/arrowprevhover.png);
	height: 100%;
	width: 50px;
	background-size: cover;
	background-repeat: no-repeat;
	text-indent: -9999px;
}

.arrow-prev:hover{
	background-image: url(Nav/arrowprev.png);
}

.arrow-next{
	background-image: url(Nav/arrownexthover.png);
	height: 100%;
	width: 50px;
	background-size: cover;
	background-repeat: no-repeat;
	text-indent: -9999px;
}

.arrow-next:hover{
	background-image: url(Nav/arrownext.png);
}

.Ind{
	background: url(Nav/indicatorhover.png);
	height: 100%;
	width: 50px;
	background-size: cover;
	background-repeat: no-repeat;
	text-indent: -9999px;
}

.Ind:hover{
	background-image: url(Nav/indicator.png);
}

.active-Ind{
	background-image: url(Nav/indicator.png);
}

.header {
    background-size: cover;
	background-position: center;
	height: 580px;
	margin-top: -8px;					/* let the header fit the window */
	margin-right: -8px;					/* let the header fit the window */
	margin-left: -8px;					/* let the header fit the window */
	font-family: 'Noto Sans TC', sans-serif;
    //opacity:0.6;
}

#HomePage_header{
	background-image: url("header pic/HomePage_header.png");
}

#AboutUs_header{
	background-image: url("header pic/AboutUs_header.png");
}

#ContactUs_header{
	background-image: url("header pic/ContactUs_header.png");
}

#Info_header{
	background-image: url("header pic/Info_header.png");
}

#QA_header{
	background-image: url("header pic/QA_header.png");
}

#SignUp_header{
	background-image: url("header pic/SignUp_header.png");
}

#content {
	//margin-right: -16px;		/* set the right margin of the table */
	height: 50px;
}

/* 引用嵌入字型 */
.embFont01 {
    font-family: 'SetoFont', 'Baloo Paaji', sans-serif;
    font-size: 21px;
}

.embFont02 {
    font-family: 'SetoFont', 'Baloo Paaji', sans-serif;
    font-size: 21px;
}

.NormalFont{font-size:21px;}
/* 引用到這裡 */

.category_word {
	text-align: center;
    border-collapse: collapse;
    margin-left: -8px;
}

.tdall{
	color: #b9c2a3;
	border-right-width: thin;
	border-left-width: thin;
	border:0px solid;
	width: 172px;
	height: 46px;
	line-height: 46px; /* make the text in the table cells vertically centered */
	font-family: 'SetoFont', 'Baloo Paaji', sans-serif;
}

a:link{
	color: white;	/* links that haven't been clicked */
	background-color: transparent;
	text-decoration: none;
}

a{
	color: white;	/* links that have already been clicked */
	text-decoration: none;
}

a:hover{	/* when link is hovered */
	color: #686C5C;
	text-decoration: none;
}

td:hover {	/* when box is hovered */
    //background-color: #b9c2a3;
	border:0px solid;
	border-top-style: none;
	border-bottom-style: none;
}

td a{
	display: block;
	width: 100%;
	height: 100%;
}

#HomePagetd:hover{
	background-color: #b9c2a3;
}

#AboutUstd:hover{
	background-color: #D0D4BD;
}

#ContactUstd:hover{
	background-color: #D4CCB4;
}

#Infotd:hover{
	background-color: #D4CCB4;
}

#QAtd:hover{
	background-color: #F2EEE3;
}

#SignUptd:hover{
	background-color: #C6E3F3;
}

.paragraphbackground{
	margin: 20px;
	padding: 20px;
    color:#FFFFFF;
}

.welcome{
	margin: 23px;
	padding: 20px;
	font-family: 'SetoFont', 'Baloo Paaji', sans-serif;
    background-color: #b9c2a3;
}

.welcome h1{
	font-size: 45px;
}

.welcome p{
	font-size: 20px;
}

#QAWelcome{
	margin-right: 30px;
	display: block;
}

#WelAboutUs p{
	font-size: 30px;
}

.Sec1 {
	display: table-cell;
	margin: 23px;
	padding: 20px;
	font-family: 'SetoFont', 'Baloo Paaji', sans-serif;
	background-color: #b9c2a3;
}

#QASec1{
	font-size: 23px;
	display: inline-block;
}

.Schedule{
	width: 100%;
}

.Sec2 {
	display: table-cell;
	margin: 40px;
	padding: 20px;
	font-family: 'SetoFont', 'Baloo Paaji', sans-serif;
	background-color: #b9c2a3;
}

.ParkingMap{
	height: 289px;
	width: 423px;
	background-image: url(Resouces/Parking.png);
	background-size: cover;
}

.style2 {
     width: 751px;
}

#footer {
    height: 40px;
	padding: 20px;
	background-color: #b9c2a3;
	font-family: 'SetoFont', 'Baloo Paaji', sans-serif;
}

.FooterCtn{
	width: 210px;
	height: 30px;
	display: block;
}

.FooterCtn:hover .fblogo{
	background: url(Resouces/FB.png);
	background-size: cover;
	background-repeat: no-repeat;
}

.FooterCtn:hover .fblink{
	color: #686C5C;
	text-decoration: none
}

.fblogo {
	display: inline-block;
	width: 30px;
	height: 30px;
	background: url("Resouces/FBhover.png");
	background-size: cover;
	background-repeat: no-repeat;
	text-indent: -9999px;
}

.fblink{
	display: inline-block;
	vertical-align: sub;
}



/* for testing the unwanted blanks */
/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */